[Unit]
Description=Nvidia-smi server side
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/server_smi -s --hp /etc/server_smi/history.csv
Restart=always

[Install]
WantedBy=multi-user.target
